.create-new-password-page {
    display: flex;
    justify-content: center;
    align-items:center;
    /* padding: 2rem 2rem 1rem 2rem; */
    font-family: 'Montserrat', sans-serif;
    width: 95%;
    }
.createnewpassword-box{
    padding: 2.5rem;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    width: 95%;
    max-width: 600px;
}
  
.createnewpassword-box h2 {
    font-size: 1.5rem;
    font-weight: 600;
    /* margin-bottom: 1rem; */
    color: #111;
    text-align: center;
    margin-bottom: 3rem;
}

.createnewpassword-box form {
    display: flex;
    flex-direction: column;
    /* gap: 1.25rem; */
    text-align: left;
    width: 100%;
  }
  .rtp-input-container{
    width: 100%;
    position: relative;
  }

#createnewpassword-form label {
    font-size: 1rem;
    font-weight: 600;
    color: #000000;
    margin-bottom: 0.5rem;
  }
  
 #createnewpassword-form input[type="password"] {
    padding: 0.75rem 1rem;
    border: 1.5px solid #111;
    border-radius: 0.8rem;
    font-size: 0.9375rem;
    outline: none;
    transition: border-color 0.3s ease;
    width: 100%;
  }
  #createnewpassword-form input::placeholder{
    font-size: 0.9rem;
    font-weight: 600;
    outline: none;
  }
  
   #createnewpassword-for input[type="password"]:focus {
    border-color: #1a50a7;
  }
  #visibility{
    position: absolute;
    top: 50%;
    /* transform: translateY(-50%); */
    right: 33%;
    cursor: pointer;
  }

  #rtp-input-containers{
    position: relative;
  }
  .confirm-pss-visibility{
    position: absolute;
     top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .eye-hidden-confirm{
    width: 100%;
    max-width: 15px;
  }

  .eye-icons{
    position: absolute;
    transform: translateY(-50%);
  }
  .btn-primary {
    padding: 0.75rem;
    margin-top: 2rem;
    background-color: #1a50a7;
    color: #fff;
    font-size: 1rem;
    border: 1px solid #111;
    border-radius: 0.625rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .createnewpassword-box p {
    font-size: 0.9rem;
    font-weight: 600;
    color: #00000080;
    line-height: 1.5;
    padding-left: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  input.error {
    border: 2px solid #1a50a7;
  }
  
  .form-message {
    margin-top: 10px;
    font-size: 0.95em;
    padding: 8px 12px;
    border-radius: 6px;
    display: block;
    opacity: 1;
    transition: opacity 0.5s ease;
  }
  
  .form-message.success {
    background-color: #e6ffed;
    color: #1a7f37;
    border: 1px solid #a0e6b3;
  }
  
  .form-message.error {
    background-color: #ffe6e6;
    color: #d93025;
    border: 1px solid #f5a2a2;
  }
  
#rtp-input-container input,
#rtp-input-containers input {
  border: 2px solid black;
  width: 100%;
  max-width: 100%;
}

