.reset-password-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: yellow; */
    margin-top: 2rem;
    margin-bottom: 5rem;
    font-family: 'Montserrat', sans-serif;
    /* width: 100%; */
}
.email-icon{
    width: 100%;
    max-width: 100px;
    padding-bottom: 2rem;
}

.reset-password-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    /* padding: 2rem; */
    border-radius: 1rem;
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); */
    background-color: #FFFFFF;
}
.reset-password-header{
    font-size: 1.3rem;
    font-weight: 600;
    color: #000000;
    margin-bottom: 1rem;
    text-align: center;
}
.reset-password-subheader{
    font-size: 1rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #000000;
    margin-bottom: 1rem;
    text-align: center;
    line-height: 1.5rem;
}
.timing{
    font-size: 1rem;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: #A0A3AC;
    margin-bottom: 1rem;
}

.timing span{
    color: #174EA6;
}
#reset-otp-input{
    width: 100%;
    max-width: 300px;
    padding: 0.75rem 1rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1.5rem;
    outline: none;
}
.reset-password-button{
    width: 100%;
    max-width: 300px;
    padding: 0.75rem 1rem;
    background-color: #174EA6;
    color: #FFFFFF;
    font-size: 0.8rem;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 0.5rem;
}
.re-enter-password-link{
    /* color: #FFFFFF;
    font-size: 0.8rem;
    font-weight: 600; */
    /* font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 0.5rem; */
    margin-left: 8rem;
    text-align: end;
}
.re-enter-password{
    font-size: 0.9rem;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    color: #A0A3AC;
    margin-bottom: 1rem;
    text-align: end;
    border: none;
    background: none;
    cursor: pointer;
    outline: none;
    text-decoration: underline;
    margin-bottom: 1rem;
    /* width: 100%;
    max-width: 250px; */
}

.re-enter-password a{
    font-weight: 700;
    color: #A0A3AC;
    cursor: pointer;
    outline: none;
    text-decoration: underline;
}

.didnt-get-email{
    font-size: 0.9rem;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #000000;
    margin-bottom: 1rem;
    text-align: center;
}
.resend-btn{
    font-size: 0.9rem;
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    color: #174EA6;
    cursor: pointer;
    outline: none;
    border: none;
    background: none;
    text-decoration: none;
}